p.tntfl-header {
  font-size: large;
  font-weight: bold;
}

h1.panel-title {
  font-weight: bold;
  text-align: center;
  font-size: 22pt;
  padding: 5px 0;
}

h2.panel-title {
  font-weight: bold;
  text-align: center;
  font-size: 18pt;
}

.panel-warning .panel-body,
.panel-warning th {
  background-color: #FAEBCC;
}

.ladder>tbody>tr>td {
  padding: 2px 8px;
}
.ladder tr.top-player td {
  padding: 12px 8px;
}

table.ladder td {
  vertical-align: middle !important;
}

table.ladder th {
  font-size: small;
  text-align: center;
}

.ladder-position {
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  color: white;
  width: 3em;
  background-color: #2A5B8D;
}

.ladder-position.inactive {
  background-color: #C0C0C0 !important;
}

tr.inactive {
  color: #B0B0B0;
  font-style: italic;
  display: none;
}

tr.nearly-inactive {
  opacity: 0.6;
  font-style: italic;
}

tr.nearly-inactive:hover {
  opacity: 1;
}

button.inactive {
  display: none;
}

.ladder-first {
  background-color:#EEC900 !important;
}

.ladder-silver {
  background-color:#C0C0C0 !important;
}

.ladder-bronze {
  background-color:#CD7F32 !important;
}

td.ladder-stat {
  text-align: center;
  font-size: large;
}

td.ladder-name,
td.ladder-skill {
  font-size: x-large;
}

div.ladder-trend {
  width:3em;
  height: 2em;
  display: inline-block;
}

.inactive div.ladder-trend {
  opacity: 0.3;
}

.recentHolder {
  padding: 0;
}

.no-table-boder tr>td {
  border-top: none!important;
}

.game-changes td {
  border-spacing: 0;
  padding: 0 0 30px!important;
  vertical-align: top;
}
.game-changes .detail {
  text-align: center;
}
.recent-game {
  font-size: x-large;
}
@media(min-width: 1200px) and (max-width: 1400px) {
  .recent-game td {
    font-size: large;
  }
}
.recent-game td {
  vertical-align: middle!important;
  text-align: center;
  margin: 20px 0 0;
}
.recent-game-result {
  font-size: x-large;
}

.recent-game-result .col-md-2 {
  padding: 0;
  overflow: hidden;
}

.recent-game .red-player,
.headtohead .red-player,
.recent-game .blue-player,
.headtohead .blue-player {
  /*border-radius: 4px 0 0 4px;*/
}

.game-changes .skill-change {
  display: inline-block;
  padding: 1px 5px;
}

.skill-change-red,
.game-entry .red {
  background-color: #FFC0C0;
}

.skill-change-blue,
.game-entry .blue {
  background-color: #C0C0FF;
}

.game .punditry {
  font-size: medium;
}

.unpad {
  padding-left: 0px;
  padding-right: 0px;
}

.red-player,
.red-player a {
  background-color: red;
  color: white;
}

.blue-player,
.blue-player a {
  background-color: blue;
  color: white;
}

.yellow-stripe,
.yellow-stripe a {
  background-color: #FFFF00;
  color: black;
}

.ladder th.header {
  cursor: pointer;
}

.ladder thead {
  background-color: white;
}

.ladder thead tr th {
  font-weight: bold;
}

.ladder thead tr th.headerSortUp,
.ladder thead tr th.headerSortDown {
  /*background: #C0C0FF;*/
  background: #397cc0;
  color: #fff;
  background-position: right center;
  background-repeat: no-repeat;
  border-radius: 4px 4px 0 0;
}

.ladder thead tr th.headerSortUp {
    background-image: url(asc.gif);
}

.ladder thead tr th.headerSortDown {
    background-image: url(desc.gif);
}

.game-entry input {
  text-align: center;
}

.game-entry .player {
  width: 6em;
}

.game-entry .score {
  width: 3em;
}

h3.statbox {
  font-size: medium;
  font-weight: bold;
  text-align: left;
  margin: 0;
}

.panel-statbox {
  border: 0;
}

.panel-statbox .panel-heading {
  background-color: #DDDDDD;
  padding: 5px 10px;
  cursor: default;
}

.panel-statbox .panel-body {
  text-align: right;
  font-size: x-large;
  font-weight: bold;
  padding: 5px 10% 5px 5px;
  background-color: #F5F5F5;
}

.panel-statbox .ladder-position {
  width: auto;
}

.panel-statbox .panel-body.positive {
  background-color: #C0C0FF;
}

.panel-statbox .panel-body.negative {
  background-color: #FFC0C0;
}

.panel-statbox .date {
  font-size: small;
  font-weight: normal;
  display: block;
}

.side-preference {
  text-align: center;
  color: white;
  border-radius: 4px;
}

#playerchart,
#gamesPerDay,
#histogram {
  height: 200px;
}

.dl-horizontal dt {
  line-height: 2;
  background-color: #DDDDDD;
  border-radius: 4px 0 0 4px;
  padding: 2px;
  padding-right: 8px;
  width: 220px;
}

.dl-horizontal dd {
  line-height: 2;
  margin-left: 220px;
  margin-bottom: 5px;
  padding-left: 20px;
  border-radius: 0 4px 4px 0;
  background-color: #F5F5F5;
}

.headtohead td,
.headtohead th {
  width: 33%;
  text-align: center;
}

.headtohead .red-player,
.headtohead .blue-player {
  font-weight: bold;
}

.panel-warning tr:hover {
  background-color: #FCF8E3;
}

.panel-achievement .panel-heading {
  background-color: #DDDDDD;
  padding: 5px 10px;
}

.panel-achievement h3.statbox {
  font-weight: bold;
  min-height: 2em;
}

.panel-achievement .panel-body {
  text-align: center;
  padding: 0px;
}
@media(min-width:762px){
  .panel-achievement .panel-body {
    min-height: 68px;
  }
}

.achievement-games {
  display:none;
  font-weight: normal;
  font-size: small;
  border-width: 1px;
  border-style: solid;
  border-color: #DDD;
  max-height:200px;
  overflow: auto;
  margin:0px;
}

.achievement-games li:nth-child(odd) {
  background-color: #FFFFFF;
}

/* Achievement icons */

/* Icons made by Freepik <http://www.freepik.com> from http://www.flaticon.com licensed under CC BY 3.0 <http://creativecommons.org/licenses/by/3.0/> */

.achievement-TheBest {
  background: url("../img/trophy5.png") top center no-repeat;
  padding-top: 48px !important;
}

.achievement-TheWorst {
  background: url("../img/football100.png") top center no-repeat;
  padding-top: 48px !important;
}

.achievement-Comrades {
  background: url("../img/football120.png") top center no-repeat;
  padding-top: 48px !important;
}

.achievement-YellowStripe {
  background: url("../img/yellowstripe.png") top center no-repeat;
  padding-top: 48px !important;
}

.achievement-BeatANewbie {
  background: url("../img/blood17.png") top center no-repeat;
  padding-top: 48px !important;
}

.achievement-Improver {
  background: url("../img/football86.png") top center no-repeat;
  padding-top: 48px !important;
}

.achievement-FirstGame {
  background: url("../img/football81.png") top center no-repeat;
  padding-top: 48px !important;
}

.achievement-MostlyHarmless {
  background: url("../img/mostlyharmless.png") top center no-repeat;
  padding-top: 48px !important;
}

.achievement-Dangerous {
  background: url("../img/dangerous.png") top center no-repeat;
  padding-top: 48px !important;
}

.achievement-Elite {
  background: url("../img/elite.png") top center no-repeat;
  padding-top: 48px !important;
}

.achievement-AgainstTheOdds {
  background: url("../img/casino17.png") top center no-repeat;
  padding-top: 48px !important;
}

.achievement-AgainstAllOdds {
  background: url("../img/poker5.png") top center no-repeat;
  padding-top: 48px !important;
}

.achievement-Deviant {
  background: url("../img/football92.png") top center no-repeat;
  padding-top: 48px !important;
}

.achievement-CommittedCoreFiler {
  background: url("../img/cfl.png") top center no-repeat;
  padding-top: 48px !important;
}

.achievement-Resident {
  background: url("../img/family24.png") top center no-repeat;
  padding-top: 48px !important;
}

.achievement-FestiveCheer {
  background: url("../img/tree149.png") top center no-repeat;
  padding-top: 48px !important;
}

.achievement-NightOwl {
  background: url("../img/owl.png") top center no-repeat;
  padding-top: 48px !important;
}

.achievement-EarlyBird {
  background: url("../img/birds15.png") top center no-repeat;
  padding-top: 48px !important;
}

.achievement-TheDominator {
  background: url("../img/football54.png") top center no-repeat;
  padding-top: 48px !important;
}

.achievement-Dedication {
  background: url("../img/football90.png") top center no-repeat;
  padding-top: 48px !important;
}

.achievement-PokeMaster {
  background: url("../img/ball80.png") top center no-repeat;
  padding-top: 48px !important;
}


/*
 * "Slice" page rangeSlider
 */
.irs {
  margin: 0 0 30px;
}
span.irs > span {
  font-size: 12px;
}

/*
 * Ladder Adjustments
 */
.ladder-position {

}
.controls.form {
  padding: 10px;
}

.updated-time {
  margin-top: -20px;
  padding: 0;
}


/*
 * Misc BS over-writes
 */
#ladderHolder {
  padding: 0;
}
#ladderHolder .table {
  margin-bottom: 0;
}