p.tntfl-header {
  font-size: large;
  font-weight: bold;
}

h1.panel-title {
  font-weight: bold;
  text-align: center;
  font-size: 22pt;
}

h2.panel-title {
  font-weight: bold;
  text-align: center;
  font-size: 18pt;
}

table.ladder td {
  vertical-align: middle !important;
}

table.ladder th {
  font-size: small;
  text-align: center;
}

td.ladder-position {
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  color: white;
  width: 3em;
  border-radius: 4px;
  background-color: blue;
}

td.ladder-position.inactive {
  background-color: #C0C0C0;
}

tr.inactive {
  color: #B0B0B0;
  font-style: italic;
  display: none;
}

button.inactive {
  display: none;
}

td.ladder-first {
  background-color:red;
}

td.ladder-stat {
  text-align: center;
  font-size: large;
}

td.ladder-name, td.ladder-skill {
  font-size: x-large;
}

div.ladder-trend {
  width:3em;
  height: 2em;
  display: inline-block;
}

.inactive div.ladder-trend {
  opacity: 0.3;
}

.recent-game {
  text-align: center;
  margin: 10px 0;
}
.recent-game-result {
  font-size: x-large;
}

.recent-game .red-player {
  border-radius: 4px 0 0 4px;
}

.recent-game .blue-player {
  border-radius: 0 4px 4px 0;
}

.recent-game span.skill-change {
  border-radius: 0 0 4px 4px;
  display: inline-block;
  padding: 1px 5px;
}

.skill-change-red, .game-entry .red {
  background-color: #FFC0C0;
}

.skill-change-blue, .game-entry .blue {
  background-color: #C0C0FF;
}

.red-player, .red-player a {
  background-color: red;
  color: white;
}

.blue-player, .blue-player a {
  background-color: blue;
  color: white;
}

.yellow-stripe, .yellow-stripe a {
  background-color: #FFFF00;
  color: black;
}

.ladder th.header {
  cursor: pointer;
}

.ladder thead {
  background-color: white;
}

.ladder thead tr th { 
  font-weight: bold;
}

.ladder thead tr th.headerSortUp, .ladder thead tr th.headerSortDown {
  background: #C0C0FF;
  background-position: right center;
  background-repeat: no-repeat;
  border-radius: 4px 4px 0 0;
}

.ladder thead tr th.headerSortUp {
    background-image: url(asc.gif);
}

.ladder thead tr th.headerSortDown {
    background-image: url(desc.gif);
}

.game-entry input {
  text-align: center;
}

.game-entry .player {
  width: 6em;
}

.game-entry .score {
  width: 3em;
}

table.player-stats {
  width: 100%;
}

table.player-stats td, table.player-stats th {
  padding: 8px;
  width: auto;
  vertical-align: top;
}

table.player-stats th {
  width: 20%;
}

td.side-preference {
  text-align: center;
  color: white;
  border-radius: 4px;
}

#playerchart {
  height: 200px;
}

.dl-horizontal dt {
  line-height: 2;
  background-color: #DDDDDD;
  border-radius: 4px 0 0 4px;
  padding: 2px;
  padding-right: 8px;
  width: 220px;
}

.dl-horizontal dd {
  line-height: 2;
  margin-left: 220px;
  margin-bottom: 5px;
  padding-left: 20px;
  border-radius: 0 4px 4px 0;
  background-color: #F5F5F5;
}