table.ladder {
}

table.ladder td {
  vertical-align: middle !important;
}

table.ladder th {
  font-size: small;
  text-align: center;
}

td.ladder-position {
  font-size: x-large;
  font-weight: bold;
  text-align: center;
  color: white;
  width: 3em;
  border-radius: 4px;
  background-color: blue;
}

td.ladder-first {
  background-color:red;
}

td.ladder-stat {
  text-align: center;
  font-size: large;
}

td.ladder-name, td.ladder-skill {
  font-size: x-large;
}

.recent-game {
  text-align: center;
  font-size: x-large;
  margin: 10px 0;
}

.recent-game .red-player {
  border-radius: 4px 0 0 4px;
}

.recent-game .blue-player {
  border-radius: 0 4px 4px 0;
}

.recent-game span.skill-change {
  border-radius: 0 0 4px 4px;
  display: inline-block;
  padding: 1px 5px;
}

.skill-change-red {
  background-color: #FFC0C0;
}

.skill-change-blue {
  background-color: #C0C0FF;
}

.red-player {
  background-color: red;
  color: white;
}

.blue-player {
  background-color: blue;
  color: white;
}

#ladder thead {
  cursor: pointer;
}
#ladder thead tr th { 
  font-weight: bold;
}
#ladder thead tr th span { 
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

#ladder thead tr th.headerSortUp, #ladder thead tr th.headerSortDown {
  background: #acc8dd;
}

#ladder thead tr th.headerSortUp span {
  background-image: url('up-arrow.png');
}
#ladder thead tr th.headerSortDown span {
  background-image: url('down-arrow.png');
}
