Options -MultiViews

RewriteEngine on
RewriteBase /~tlr/tntfl

RewriteRule (.*)/json$ $1?view=json

RewriteRule ^game(.cgi)?/([^/]+)$  game/$2/   [R]
RewriteRule ^game(.cgi)?/add/ game.cgi?method=add [QSA]
RewriteRule ^game(.cgi)?/([0-9]+)/delete$ delete.cgi?&game=$2 [QSA]
RewriteRule ^game(.cgi)?/([0-9]+)/ game.cgi?method=view&game=$2 [QSA]

<Files "delete.cgi">
  AuthType                basic
  AuthName                "TNTFL Authentication (use CFL credentials)"
  AuthBasicProvider       ldap
  AuthLDAPURL             "ldaps://ldap-auth.int.corefiling.com ldap-auth1.int.corefiling.com ldap-auth2.int.corefiling.com/ou=People,dc=decisionsoft,dc=com?uid"
  AuthzLDAPAuthoritative   off
  Require                  valid-user
</Files>

RewriteRule ^player(.cgi)?/([^/]+)$  player/$2/   [R]
RewriteRule ^player(.cgi)?/([a-zA-Z]+)/$ player.cgi?player=$2 [QSA]
RewriteRule ^player(.cgi)?/([a-zA-Z]+)/games/ player.cgi?player=$2&method=games [QSA]

RewriteRule ^headtohead(.cgi)?/([a-zA-Z]+)/([a-zA-Z]+)/$ headtohead.cgi?player1=$2&player2=$3 [QSA]

RewriteRule ^ladder(.cgi)?/? ladder.cgi 
RewriteRule ^api(.cgi)?/ api.cgi 
RewriteRule ^stats(.cgi)?/ stats.cgi 
RewriteRule ^recent(.cgi)?/ recent.cgi
RewriteRule ^speculate(.cgi)?/ speculate.cgi

