Options -MultiViews

RewriteEngine on
RewriteBase /~jrem/tntfl

RewriteRule ^game(.cgi)?/([^/]+)$  game/$2/   [R]
RewriteRule ^game(.cgi)?/add/ game.cgi?method=add [QSA]
RewriteRule ^game(.cgi)?/([0-9]+)/ game.cgi?method=view&game=$2 [QSA]

RewriteRule ^player(.cgi)?/([^/]+)$  player/$2/   [R]
RewriteRule ^player(.cgi)?/([a-zA-Z]+)/ player.cgi?player=$2 [QSA]

RewriteRule ^headtohead(.cgi)?$  headtohead/   [R]
RewriteRule ^headtohead(.cgi)?/([a-zA-Z]+)/$ headtohead.cgi?player1=$2 [QSA]
RewriteRule ^headtohead(.cgi)?/(([a-zA-Z]+)/([a-zA-Z]+)/)$ headtohead.cgi?player1=$2&player2=$3 [QSA]

RewriteRule ^ladder(.cgi)?/? ladder.cgi 
RewriteRule ^api(.cgi)?/ api.cgi 
RewriteRule ^stats(.cgi)?/ stats.cgi 

RewriteRule (.*)/json$ $1?view=json [L]
